#add{margin:7px 20px}
#add,#droparea{display:none;}
#droparea{border:2px dashed #ccc;border-radius:10px;
    height:108px;width:108px;padding:25px;
    background:#eee;color:#888;text-align:center;font-size:20px}
#droparea.hover,
#droparea:hover{border:2px dashed #333}
#drop{float:left}
.photo{background:#fff url(/i/upload-spinner.gif) 50% 50% no-repeat;position:relative;border:1px solid #333;
    width:160px;height:160px;text-align:center;overflow:hidden}
.photo,
.photo img{border-radius:10px}
.photo span{position:absolute;top:140px;background:rgba(255,255,255,.3);
    left:10px;width:140px;display:none}
.photo span,
.photo i{height:5px;border:1px solid #aaa;border-radius:3px}
.photo i{border-width:0 1px 0 0;background:#ddf0ff;display:block;width:0}
.photo-edit{float:left;width:170px;height:200px}
.photo-edit input[type=text]{border:0;border-bottom:1px dashed #aaa}