{% load thumbnail %}
{% load upload_tags %}
{% if photos %}
    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {% for img in photos %}
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ img.url }}" itemprop="contentUrl" data-size="{{ img.w }}x{{ img.h }}">
                {% thumbnail img.path 180x180 crop=col.crop as thumb %}
                <img src="{{ thumb.path|absolute_url }}" itemprop="thumbnail" alt="{{ img.alt }}" />
            </a>
            <figcaption itemprop="caption description">{{ img.alt }}</figcaption>
        </figure>
    {% endfor %}
    </div>

    {% include "upload/photos/ui.html" %}
{% endif %}
