{% load staticfiles %}
<div id="up">
<div id="droparea">
    <div id="label">
        <img src="{% static 'upload/img/upload-image.png' %}"
            width="32" height="32"
            alt="" style="position:relative;left:15px">
        <img src="{% static 'upload/img/upload-arrow.png' %}"
            width="24" height="24"
            alt="" style="position:relative;left:-36px;top:10px">
        Drop your photos <!--item--> here<br>
        <small>or if you prefer</small>
    </div>
    <div id="add"><div>+ choose photos from your device</div></div>
</div>

<div id="drop"></div>

{% for i in images %}
    {% if i.instance.pk %}
        {% include 'upload/image.html' %}
    {% else %}
        <div class="default-upload">
            {{ i.file_data }}<br>
            {{ i.alt }}
        </div>
    {% endif %}
    {% if forloop.last %}
        <p class="default-upload">Max. 4 images at a time, add more later.</p>
    {% endif %}
{% endfor %}

<input type="file" name="file" id="file" multiple="multiple" 
    style="display:none">

{{ images.management_form }}

</div>
