{% extends 'base.html' %}
{% load thumbnail %}
{% load upload_tags %}
{% block title %}Album #{{ album.pk }}{% endblock %}
{% block extrastyles %}
.gallery{float:left;padding-right:1em}
.gallery a{float:left;overflow:hidden}
{% endblock %}
{% block content %}
    <h1>Album #{{ album.pk }}</h1>
    <p><a href="{% url 'upload_col_edit' album.pk %}">edit</a></p>
    {% for img in album.file_set.all %}
    <div class="gallery">
        <a href="{{ img.url }}" title="{{ img.fn }}">
            {% thumbnail img.path 180x180 crop=album.crop as thumb %}
            <img class="img" src="{{ thumb.path|absolute_url }}"><br>
            <small>{{ img.alt }}</small>
        </a>
    </div>
    {% endfor %}
{% endblock %}
