{% load thumbnail %}
{% load upload_tags %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>
<style>
body{font:1rem sans-serif}
#c,#h{margin:2rem}
{% block extrastyles %}{% endblock %}
</style>
{% block head %}{% endblock %}
</head>
    <body>
        <div id="h">
            {% block header %}
            <p><a href='/'>home</a>
            {% endblock %}
            <p>Loggedin as: {{ request.user.username }}<br>
            <a href="{% url 'upload_edit' 'auth' 'user' request.user.pk %}">
                {% thumbnail img.path 50x50 crop=",0" as i %}
                <img src="{{ i.url|fixurl }}" alt=""><br>
                Update profile photo</a>
        </div>
        <div id="c">{% block content %}{% endblock %}</div>
    </body>
</html>
