{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Upload{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'upload/upload.css' %}">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static 'upload/upload.js' %}"></script>
<script>{% include 'upload/init.html.js' %}</script>
{% endblock %}
{% block content %}
<form action="#" method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% include 'upload/form.html' %}
    {% csrf_token %}
    <div style="clear:both;height:30px"></div>
    <button type="submit">Save</button>
</form>
{% endblock %}
